TestAdapter/src/wsdl/localhost_8080/bank/Client.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://client/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://client/" name="Client">
<types>
<xsd:schema>
<xsd:import namespace="http://client/" schemaLocation="http://localhost:8080/bank/Client?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://backend/" schemaLocation="http://localhost:8080/bank/Client?xsd=2"/>
</xsd:schema>
</types>
<message name="depositMoney">
<part name="parameters" element="tns:depositMoney"/>
</message>
<message name="depositMoneyResponse">
<part name="parameters" element="tns:depositMoneyResponse"/>
</message>
<message name="ClientServiceException">
<part name="fault" element="tns:ClientServiceException"/>
</message>
<message name="getCurrentBalance">
<part name="parameters" element="tns:getCurrentBalance"/>
</message>
<message name="getCurrentBalanceResponse">
<part name="parameters" element="tns:getCurrentBalanceResponse"/>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"/>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"/>
</message>
<message name="getAccountStatement">
<part name="parameters" element="tns:getAccountStatement"/>
</message>
<message name="getAccountStatementResponse">
<part name="parameters" element="tns:getAccountStatementResponse"/>
</message>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"/>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"/>
</message>
<message name="isSupportedCurrency">
<part name="parameters" element="tns:isSupportedCurrency"/>
</message>
<message name="isSupportedCurrencyResponse">
<part name="parameters" element="tns:isSupportedCurrencyResponse"/>
</message>
<message name="getInterestRate">
<part name="parameters" element="tns:getInterestRate"/>
</message>
<message name="getInterestRateResponse">
<part name="parameters" element="tns:getInterestRateResponse"/>
</message>
<message name="existAccount">
<part name="parameters" element="tns:existAccount"/>
</message>
<message name="existAccountResponse">
<part name="parameters" element="tns:existAccountResponse"/>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="createLoan">
<part name="parameters" element="tns:createLoan"/>
</message>
<message name="createLoanResponse">
<part name="parameters" element="tns:createLoanResponse"/>
</message>
<message name="paidPayment">
<part name="parameters" element="tns:paidPayment"/>
</message>
<message name="paidPaymentResponse">
<part name="parameters" element="tns:paidPaymentResponse"/>
</message>
<message name="getTransactions">
<part name="parameters" element="tns:getTransactions"/>
</message>
<message name="getTransactionsResponse">
<part name="parameters" element="tns:getTransactionsResponse"/>
</message>
<message name="getLoans">
<part name="parameters" element="tns:getLoans"/>
</message>
<message name="getLoansResponse">
<part name="parameters" element="tns:getLoansResponse"/>
</message>
<message name="paidLoan">
<part name="parameters" element="tns:paidLoan"/>
</message>
<message name="paidLoanResponse">
<part name="parameters" element="tns:paidLoanResponse"/>
</message>
<portType name="ClientService">
<operation name="depositMoney">
<input wsam:Action="http://client/ClientService/depositMoneyRequest" message="tns:depositMoney"/>
<output wsam:Action="http://client/ClientService/depositMoneyResponse" message="tns:depositMoneyResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/depositMoney/Fault/ClientServiceException"/>
</operation>
<operation name="getCurrentBalance">
<input wsam:Action="http://client/ClientService/getCurrentBalanceRequest" message="tns:getCurrentBalance"/>
<output wsam:Action="http://client/ClientService/getCurrentBalanceResponse" message="tns:getCurrentBalanceResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/getCurrentBalance/Fault/ClientServiceException"/>
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://client/ClientService/withdrawMoneyRequest" message="tns:withdrawMoney"/>
<output wsam:Action="http://client/ClientService/withdrawMoneyResponse" message="tns:withdrawMoneyResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/withdrawMoney/Fault/ClientServiceException"/>
</operation>
<operation name="getAccountStatement">
<input wsam:Action="http://client/ClientService/getAccountStatementRequest" message="tns:getAccountStatement"/>
<output wsam:Action="http://client/ClientService/getAccountStatementResponse" message="tns:getAccountStatementResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/getAccountStatement/Fault/ClientServiceException"/>
</operation>
<operation name="transferMoney">
<input wsam:Action="http://client/ClientService/transferMoneyRequest" message="tns:transferMoney"/>
<output wsam:Action="http://client/ClientService/transferMoneyResponse" message="tns:transferMoneyResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/transferMoney/Fault/ClientServiceException"/>
</operation>
<operation name="isSupportedCurrency">
<input wsam:Action="http://client/ClientService/isSupportedCurrencyRequest" message="tns:isSupportedCurrency"/>
<output wsam:Action="http://client/ClientService/isSupportedCurrencyResponse" message="tns:isSupportedCurrencyResponse"/>
</operation>
<operation name="getInterestRate">
<input wsam:Action="http://client/ClientService/getInterestRateRequest" message="tns:getInterestRate"/>
<output wsam:Action="http://client/ClientService/getInterestRateResponse" message="tns:getInterestRateResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/getInterestRate/Fault/ClientServiceException"/>
</operation>
<operation name="existAccount">
<input wsam:Action="http://client/ClientService/existAccountRequest" message="tns:existAccount"/>
<output wsam:Action="http://client/ClientService/existAccountResponse" message="tns:existAccountResponse"/>
</operation>
<operation name="createAccount">
<input wsam:Action="http://client/ClientService/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://client/ClientService/createAccountResponse" message="tns:createAccountResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/createAccount/Fault/ClientServiceException"/>
</operation>
<operation name="createLoan">
<input wsam:Action="http://client/ClientService/createLoanRequest" message="tns:createLoan"/>
<output wsam:Action="http://client/ClientService/createLoanResponse" message="tns:createLoanResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/createLoan/Fault/ClientServiceException"/>
</operation>
<operation name="paidPayment">
<input wsam:Action="http://client/ClientService/paidPaymentRequest" message="tns:paidPayment"/>
<output wsam:Action="http://client/ClientService/paidPaymentResponse" message="tns:paidPaymentResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/paidPayment/Fault/ClientServiceException"/>
</operation>
<operation name="getTransactions">
<input wsam:Action="http://client/ClientService/getTransactionsRequest" message="tns:getTransactions"/>
<output wsam:Action="http://client/ClientService/getTransactionsResponse" message="tns:getTransactionsResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/getTransactions/Fault/ClientServiceException"/>
</operation>
<operation name="getLoans">
<input wsam:Action="http://client/ClientService/getLoansRequest" message="tns:getLoans"/>
<output wsam:Action="http://client/ClientService/getLoansResponse" message="tns:getLoansResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/getLoans/Fault/ClientServiceException"/>
</operation>
<operation name="paidLoan">
<input wsam:Action="http://client/ClientService/paidLoanRequest" message="tns:paidLoan"/>
<output wsam:Action="http://client/ClientService/paidLoanResponse" message="tns:paidLoanResponse"/>
<fault message="tns:ClientServiceException" name="ClientServiceException" wsam:Action="http://client/ClientService/paidLoan/Fault/ClientServiceException"/>
</operation>
</portType>
<binding name="ClientPortBinding" type="tns:ClientService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="depositMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCurrentBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAccountStatement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="transferMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="isSupportedCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInterestRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="existAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="createLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="paidPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="getTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
<operation name="paidLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClientServiceException">
<soap:fault name="ClientServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Client">
<port name="ClientPort" binding="tns:ClientPortBinding">
<soap:address location="http://localhost:8080/bank/Client"/>
</port>
</service>
</definitions>