TestAdapter/src/wsdl/localhost_8080/bank/Client.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://backend/">

<xs:complexType name="transactionLogData">
<xs:sequence>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="datetime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanData">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="canPaid" type="xs:boolean"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="interestRate" type="xs:float"/>
<xs:element name="months" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>