Bank/src/wsdl/localhost_8080/bank/Backend.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://backend/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://backend/" name="Backend">
<types>
<xsd:schema>
<xsd:import namespace="http://backend/" schemaLocation="http://localhost:8080/bank/Backend?xsd=1"/>
</xsd:schema>
</types>
<message name="depositMoney">
<part name="parameters" element="tns:depositMoney"/>
</message>
<message name="depositMoneyResponse">
<part name="parameters" element="tns:depositMoneyResponse"/>
</message>
<message name="BackendException">
<part name="fault" element="tns:BackendException"/>
</message>
<message name="getCurrentBalance">
<part name="parameters" element="tns:getCurrentBalance"/>
</message>
<message name="getCurrentBalanceResponse">
<part name="parameters" element="tns:getCurrentBalanceResponse"/>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"/>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"/>
</message>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"/>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"/>
</message>
<message name="isSupportedCurrency">
<part name="parameters" element="tns:isSupportedCurrency"/>
</message>
<message name="isSupportedCurrencyResponse">
<part name="parameters" element="tns:isSupportedCurrencyResponse"/>
</message>
<message name="isThisBank">
<part name="parameters" element="tns:isThisBank"/>
</message>
<message name="isThisBankResponse">
<part name="parameters" element="tns:isThisBankResponse"/>
</message>
<message name="getInterestRate">
<part name="parameters" element="tns:getInterestRate"/>
</message>
<message name="getInterestRateResponse">
<part name="parameters" element="tns:getInterestRateResponse"/>
</message>
<message name="existAccount">
<part name="parameters" element="tns:existAccount"/>
</message>
<message name="existAccountResponse">
<part name="parameters" element="tns:existAccountResponse"/>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="createLoan">
<part name="parameters" element="tns:createLoan"/>
</message>
<message name="createLoanResponse">
<part name="parameters" element="tns:createLoanResponse"/>
</message>
<message name="paidPayment">
<part name="parameters" element="tns:paidPayment"/>
</message>
<message name="paidPaymentResponse">
<part name="parameters" element="tns:paidPaymentResponse"/>
</message>
<message name="setInterestRate">
<part name="parameters" element="tns:setInterestRate"/>
</message>
<message name="setInterestRateResponse">
<part name="parameters" element="tns:setInterestRateResponse"/>
</message>
<message name="getCountBadPayment">
<part name="parameters" element="tns:getCountBadPayment"/>
</message>
<message name="getCountBadPaymentResponse">
<part name="parameters" element="tns:getCountBadPaymentResponse"/>
</message>
<message name="getCountGoodPayment">
<part name="parameters" element="tns:getCountGoodPayment"/>
</message>
<message name="getCountGoodPaymentResponse">
<part name="parameters" element="tns:getCountGoodPaymentResponse"/>
</message>
<message name="getAllCapital">
<part name="parameters" element="tns:getAllCapital"/>
</message>
<message name="getAllCapitalResponse">
<part name="parameters" element="tns:getAllCapitalResponse"/>
</message>
<message name="getTransactions">
<part name="parameters" element="tns:getTransactions"/>
</message>
<message name="getTransactionsResponse">
<part name="parameters" element="tns:getTransactionsResponse"/>
</message>
<message name="getLoans">
<part name="parameters" element="tns:getLoans"/>
</message>
<message name="getLoansResponse">
<part name="parameters" element="tns:getLoansResponse"/>
</message>
<message name="addTransferPayment">
<part name="parameters" element="tns:addTransferPayment"/>
</message>
<message name="addTransferPaymentResponse">
<part name="parameters" element="tns:addTransferPaymentResponse"/>
</message>
<message name="cancelTransferPaymentToAccount">
<part name="parameters" element="tns:cancelTransferPaymentToAccount"/>
</message>
<message name="cancelTransferPaymentToAccountResponse">
<part name="parameters" element="tns:cancelTransferPaymentToAccountResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<portType name="Backend">
<operation name="depositMoney">
<input wsam:Action="http://backend/Backend/depositMoneyRequest" message="tns:depositMoney"/>
<output wsam:Action="http://backend/Backend/depositMoneyResponse" message="tns:depositMoneyResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/depositMoney/Fault/BackendException"/>
</operation>
<operation name="getCurrentBalance">
<input wsam:Action="http://backend/Backend/getCurrentBalanceRequest" message="tns:getCurrentBalance"/>
<output wsam:Action="http://backend/Backend/getCurrentBalanceResponse" message="tns:getCurrentBalanceResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/getCurrentBalance/Fault/BackendException"/>
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://backend/Backend/withdrawMoneyRequest" message="tns:withdrawMoney"/>
<output wsam:Action="http://backend/Backend/withdrawMoneyResponse" message="tns:withdrawMoneyResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/withdrawMoney/Fault/BackendException"/>
</operation>
<operation name="transferMoney">
<input wsam:Action="http://backend/Backend/transferMoneyRequest" message="tns:transferMoney"/>
<output wsam:Action="http://backend/Backend/transferMoneyResponse" message="tns:transferMoneyResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/transferMoney/Fault/BackendException"/>
</operation>
<operation name="isSupportedCurrency">
<input wsam:Action="http://backend/Backend/isSupportedCurrencyRequest" message="tns:isSupportedCurrency"/>
<output wsam:Action="http://backend/Backend/isSupportedCurrencyResponse" message="tns:isSupportedCurrencyResponse"/>
</operation>
<operation name="isThisBank">
<input wsam:Action="http://backend/Backend/isThisBankRequest" message="tns:isThisBank"/>
<output wsam:Action="http://backend/Backend/isThisBankResponse" message="tns:isThisBankResponse"/>
</operation>
<operation name="getInterestRate">
<input wsam:Action="http://backend/Backend/getInterestRateRequest" message="tns:getInterestRate"/>
<output wsam:Action="http://backend/Backend/getInterestRateResponse" message="tns:getInterestRateResponse"/>
</operation>
<operation name="existAccount">
<input wsam:Action="http://backend/Backend/existAccountRequest" message="tns:existAccount"/>
<output wsam:Action="http://backend/Backend/existAccountResponse" message="tns:existAccountResponse"/>
</operation>
<operation name="createAccount">
<input wsam:Action="http://backend/Backend/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://backend/Backend/createAccountResponse" message="tns:createAccountResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/createAccount/Fault/BackendException"/>
</operation>
<operation name="createLoan">
<input wsam:Action="http://backend/Backend/createLoanRequest" message="tns:createLoan"/>
<output wsam:Action="http://backend/Backend/createLoanResponse" message="tns:createLoanResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/createLoan/Fault/BackendException"/>
</operation>
<operation name="paidPayment">
<input wsam:Action="http://backend/Backend/paidPaymentRequest" message="tns:paidPayment"/>
<output wsam:Action="http://backend/Backend/paidPaymentResponse" message="tns:paidPaymentResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/paidPayment/Fault/BackendException"/>
</operation>
<operation name="setInterestRate">
<input wsam:Action="http://backend/Backend/setInterestRateRequest" message="tns:setInterestRate"/>
<output wsam:Action="http://backend/Backend/setInterestRateResponse" message="tns:setInterestRateResponse"/>
</operation>
<operation name="getCountBadPayment">
<input wsam:Action="http://backend/Backend/getCountBadPaymentRequest" message="tns:getCountBadPayment"/>
<output wsam:Action="http://backend/Backend/getCountBadPaymentResponse" message="tns:getCountBadPaymentResponse"/>
</operation>
<operation name="getCountGoodPayment">
<input wsam:Action="http://backend/Backend/getCountGoodPaymentRequest" message="tns:getCountGoodPayment"/>
<output wsam:Action="http://backend/Backend/getCountGoodPaymentResponse" message="tns:getCountGoodPaymentResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/getCountGoodPayment/Fault/BackendException"/>
</operation>
<operation name="getAllCapital">
<input wsam:Action="http://backend/Backend/getAllCapitalRequest" message="tns:getAllCapital"/>
<output wsam:Action="http://backend/Backend/getAllCapitalResponse" message="tns:getAllCapitalResponse"/>
</operation>
<operation name="getTransactions">
<input wsam:Action="http://backend/Backend/getTransactionsRequest" message="tns:getTransactions"/>
<output wsam:Action="http://backend/Backend/getTransactionsResponse" message="tns:getTransactionsResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/getTransactions/Fault/BackendException"/>
</operation>
<operation name="getLoans">
<input wsam:Action="http://backend/Backend/getLoansRequest" message="tns:getLoans"/>
<output wsam:Action="http://backend/Backend/getLoansResponse" message="tns:getLoansResponse"/>
</operation>
<operation name="addTransferPayment">
<input wsam:Action="http://backend/Backend/addTransferPaymentRequest" message="tns:addTransferPayment"/>
<output wsam:Action="http://backend/Backend/addTransferPaymentResponse" message="tns:addTransferPaymentResponse"/>
</operation>
<operation name="cancelTransferPaymentToAccount">
<input wsam:Action="http://backend/Backend/cancelTransferPaymentToAccountRequest" message="tns:cancelTransferPaymentToAccount"/>
<output wsam:Action="http://backend/Backend/cancelTransferPaymentToAccountResponse" message="tns:cancelTransferPaymentToAccountResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://backend/Backend/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://backend/Backend/getAccountResponse" message="tns:getAccountResponse"/>
<fault message="tns:BackendException" name="BackendException" wsam:Action="http://backend/Backend/getAccount/Fault/BackendException"/>
</operation>
</portType>
<binding name="BackendPortBinding" type="tns:Backend">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="depositMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="getCurrentBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="transferMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="isSupportedCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isThisBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInterestRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="createLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="paidPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="setInterestRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountBadPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCountGoodPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="getAllCapital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
<operation name="getLoans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTransferPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelTransferPaymentToAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BackendException">
<soap:fault name="BackendException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Backend">
<port name="BackendPort" binding="tns:BackendPortBinding">
<soap:address location="http://localhost:8080/bank/Backend"/>
</port>
</service>
</definitions>