Bank/src/wsdl/localhost_8080/bank/Clearing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clearing/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://clearing/" name="Clearing">
<types>
<xsd:schema>
<xsd:import namespace="http://clearing/" schemaLocation="http://localhost:8080/bank/Clearing?xsd=1"/>
</xsd:schema>
</types>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"/>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"/>
</message>
<message name="exchangeMoney">
<part name="parameters" element="tns:exchangeMoney"/>
</message>
<message name="exchangeMoneyResponse">
<part name="parameters" element="tns:exchangeMoneyResponse"/>
</message>
<message name="ClearingException">
<part name="fault" element="tns:ClearingException"/>
</message>
<message name="isSupportedCurrency">
<part name="parameters" element="tns:isSupportedCurrency"/>
</message>
<message name="isSupportedCurrencyResponse">
<part name="parameters" element="tns:isSupportedCurrencyResponse"/>
</message>
<message name="getBankId">
<part name="parameters" element="tns:getBankId"/>
</message>
<message name="getBankIdResponse">
<part name="parameters" element="tns:getBankIdResponse"/>
</message>
<portType name="Clearing">
<operation name="transferMoney">
<input wsam:Action="http://clearing/Clearing/transferMoneyRequest" message="tns:transferMoney"/>
<output wsam:Action="http://clearing/Clearing/transferMoneyResponse" message="tns:transferMoneyResponse"/>
</operation>
<operation name="exchangeMoney">
<input wsam:Action="http://clearing/Clearing/exchangeMoneyRequest" message="tns:exchangeMoney"/>
<output wsam:Action="http://clearing/Clearing/exchangeMoneyResponse" message="tns:exchangeMoneyResponse"/>
<fault message="tns:ClearingException" name="ClearingException" wsam:Action="http://clearing/Clearing/exchangeMoney/Fault/ClearingException"/>
</operation>
<operation name="isSupportedCurrency">
<input wsam:Action="http://clearing/Clearing/isSupportedCurrencyRequest" message="tns:isSupportedCurrency"/>
<output wsam:Action="http://clearing/Clearing/isSupportedCurrencyResponse" message="tns:isSupportedCurrencyResponse"/>
</operation>
<operation name="getBankId">
<input wsam:Action="http://clearing/Clearing/getBankIdRequest" message="tns:getBankId"/>
<output wsam:Action="http://clearing/Clearing/getBankIdResponse" message="tns:getBankIdResponse"/>
</operation>
</portType>
<binding name="ClearingPortBinding" type="tns:Clearing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="transferMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exchangeMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClearingException">
<soap:fault name="ClearingException" use="literal"/>
</fault>
</operation>
<operation name="isSupportedCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBankId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Clearing">
<port name="ClearingPort" binding="tns:ClearingPortBinding">
<soap:address location="http://localhost:8080/bank/Clearing"/>
</port>
</service>
</definitions>